if journalctl -qxen 100 -u neard | grep -i err;
then
echo "Sending email"
sh ~/scripts/checkscript.sh > ~/mailcontent.txt
near validators current | egrep -i "validator id|{{ pool_id }}" >> ~/mailcontent.txt
near validators next | egrep -i "status|{{ pool_id }}" >> ~/mailcontent.txt
journalctl -qxen 20 -u neard >> ~/mailcontent.txt
mail -s "Uptime Report - problems" -r {{ from_mail }}  {{ to_mail }} < ~/mailcontent.txt
else
echo "All good"
fi